name: Base Image

on:
  push:
    branches: [main]
    paths:
      - 'docker/Dockerfile.base'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          context: docker
          file: docker/Dockerfile.base
          push: true
          tags: ghcr.io/gabfssilva/skyward:py${{ matrix.python-version }}
          build-args: PYTHON_VERSION=${{ matrix.python-version }}
